nav {
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.btn-div {
    align-tracks: right;
    height: fit-content;
    width: fit-content;
}

.btn {
    background-color: #b4b4b4;
    border: none;
    height: 40px;
    border-radius: 3px;
    width: 80px;
}